// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "compass/reset";
// Use Sweet Gradients
@import "compass/css3";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding("body.bp");


html, body {
 height:100%;

}
body{
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  background: url("../images/cube.png") no-repeat 800px 0  #FFFFFF;
  p{
    margin: 0;
  }
}
#wrapper {
 min-height:300px;
 position: relative;
}

#container {
  @include container;
}
header {
  height: 170px;
  img{
    margin-left: 120px;
  }
}
section.content {
 background-color:white;
 ul {
    @include column(24,true);
    text-align:center;
    margin: 0 0 0 103px;
   li {
      background: url("../images/icon-container.png") no-repeat  transparent;
      list-style:none;
      float: left;
      width: 136px;
      height: 124px;
      a {
        margin-top:34px;
        display:block;
      }
   }
  }
 p {
   @include column(24,true);
   font-size:7em;
   font-weight:bold;
   color: #dcdcdc;
   text-align:center;
 }
}

.footer {
   background:url("../images/footer.png") repeat-x transparent;
   bottom: 0;
   height:111px;   /* Height of the footer */
   text-align:center;
   width: 100%;
   p {
     color: red;
     font-weight:bold;
     position: relative;
     top: 30px;
     a {
       margin-left:10px;
     }
     img {
       vertical-align: middle;
     }
   }
}

//Blueprint's trash
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}
form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-cl {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
