!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title rubyc
    %link(rel="stylesheet" href="/stylesheets/screen.css")
    /[if lt IE 9]
      %script{:src =>  "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    %header
      %img{:src => 'images/logo-rubyc.png', :alt => 'Logo'}
    #wrapper
      #container
        %section.content
          %ul.links
            %li
              %a{:href => "http://www.facebook.com/pages/RubyC/158908214151072", :target => :blank}
                %img{:src => 'images/facebook.png', :alt => 'Facebook'}
            %li
              %a{:href => "http://twitter.com/#!/rubyc", :target => :blank}
                %img{:src => 'images/twitter.png', :alt => 'Twitter'}
            %li
              %a{:href => "http://www.meetup.com/rubyco/", :target => :blank}
                %img{:src => 'images/meetup.png', :alt => 'Meetup'}
            %li
              %a{:href => "http://github.com/rubyc", :target => :blank}
                %img{:src => 'images/github.png', :alt => 'Github'}
            %li
              %a{:href => "http://groups.google.com/group/rubyc?hl=en&pli=1", :target => :blank}
                %img{:src => 'images/google.png', :alt => 'Gmail'}
          %p
            en construcción...

    %div.footer
      %p
        Patrocinado Por
        %a{:href => 'http://www.crowdint.com'}
          %img{:src => 'images/logo-crowd.png', :alt => 'Crowd Interactive'}
